<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ClientPanel</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" routerLink="/">dashboard</a>
          </li>
          
        </ul>

        <ul class="navbar-nav ml-auto">
          <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
            <a class="nav-link" href="#" routerLink="/register">Register</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#">{{loggedInUser}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" routerLink="/settings">Settings</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<br><br>
