<div class="card">
  <div class="card-header">
    Add new FAQ
  </div>
  <div class="card-block">
    <form (submit)="addQuestion()">
      <div class="form-group">
        <label for="text">
          Question
        </label>
        <input type="text" class="form-control" [(ngModel)]="text" name="text">
      </div>

      <div class="form-group">
        <label for="text">
          Answer
        </label>
        <input type="text" class="form-control" [(ngModel)]="answer" name="answer">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>